.menu-list-first-div {
  position: relative;
  height: 40rem;
  width: 50rem;
  background-color: red;
}
.menu-list-image-div {
  position: relative;
  display: inline-block;
  height: 10rem;
  width: 10rem;
  margin: 1rem;
  top: 2rem;
  left: 0rem;
}
.menu-list-image {
  height: 100%;
  width: 100%;
}
